.hidden {
	display: none;
}

input:checked + .btn {
	border-width: 5px !important;
}

/************* ВСПЛЫВАЮЩЕЕ УВЕДОМЛЕНИЕ *************/
#popup_msg {
	position: fixed;
	width: 300px;
	padding: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	font-size: 22px;
	right: -300px;
	top: 80px;
	animation: showPopupMsg .4s forwards, hiddenPopupMsg .4s 3s forwards;
	z-index: 10;
}

@keyframes showPopupMsg {
	0% {
		right: -300px;
	}
	50% {
		right: 50px;
	}
	100% {
		right: 0;
	}
}

@keyframes hiddenPopupMsg {
	0% {
		right: 0;
	}
	50% {
		right: 50px;
	}
	100% {
		right: -300px;
	}
}
/************* /ВСПЛЫВАЮЩЕЕ УВЕДОМЛЕНИЕ ************/

/************* ГОРИЗОНТАЛЬНЫЕ КАРТОЧКИ *************/
.horizontal-card {
	width: 100%;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 10px;
	transition: border-color .4s;
	margin-bottom: 30px;
}

.horizontal-card .title {
	font-size: 22px;
	font-weight: bold;
}

.horizontal-card .text {
	font-size: 18px;
}

.horizontal-card:hover {
	border-color: var(--main-blue);
}
/************* /ГОРИЗОНТАЛЬНЫЕ КАРТОЧКИ ************/

/************* ТАБЛИЦЫ *************/
td {
	vertical-align: middle;
}
/************* /ТАБЛИЦЫ ************/

footer {
	text-align: center;
	padding: 15px;
}